# {{ ansible_managed }} by Ansible role sangrail.debian_testing

deb http://ftp.debian.org/debian unstable main contrib non-free

# deb http://ftp.debian.org/debian unstable-updates main contrib non-free